<div class="header-side">

  <div class="user-name">
    <a href="#">yay</a>
  </div>

  <div class="chat-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="chat-name-bar">
  <div class="room">
    <div class="chat-name">
      <a href="#">◯○のチャットルーム</a>
    </div>
  </div>
  <div class="room">
    <div class="chat-name">
      <a href="#">□□のチャットルーム</a>
    </div>
  </div>
</div>