
/* 全体 */

.wrapper {
  display: flex;
 }

/* 左側 */

 ._side_bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
 }

 .header-side {
  padding: 0 20px;
  height: 100px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-create  {
  font-size: 10px;
}

.chat-create a {
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
  text-decoration: none;
}

.chat-name-bar {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  overflow: scroll;
  padding: 0 20px;
}

.room {
  padding: 20px 0 40px;
  
}

.chat-name a {
  color: white;
  text-decoration: none;
}

/* 右側 */

 ._main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
 }

 .header-main {
   padding: 0 40px; 
   height: 100px;
   background-color: #ffffff;
 }

 .message-room {
   padding: 46px 40px 0;
   height: calc(100vh - 190px);
   background-color: #FAFAFA;
 }

 .form-room {
   padding: 20px 40px;
   height: 90px;
   background-color: #DDDDDD;
 }
